 .u-section-1 {
  min-height: 765px;
}

.u-section-1 .u-group-1 {
  min-height: 116px;
  height: auto;
  background-image: none;
  margin-top: 80px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 42px 60px 0;
}

.u-section-1 .u-text-2 {
  width: 718px;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1140px;
  margin: 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 339px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 21px;
}

.u-section-1 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 21px;
}

.u-section-1 .u-text-5 {
  margin: 20px 20px 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 21px;
}

.u-section-1 .u-text-7 {
  margin: 20px 20px 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 107px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 40px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 211px);
    margin-right: calc(((100% - 1140px) / 2) + 211px);
  }

  .u-section-1 .u-list-1 {
    height: auto;
    width: 940px;
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1203px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 82px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 44px;
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: 118px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2) + -13px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 660px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1173px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 81px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 60px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 721px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1374px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 82px;
  }

  .u-section-1 .u-text-1 {
    width: 351px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 0.875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 908px;
  }
}