 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/shutterstock-730277116-614.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 854px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 706px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1250px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 42px 59px 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 75px auto 0;
}

.u-section-2 .u-image-1 {
  width: 1031px;
  height: 698px;
  margin: 55px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 42px auto 50px 55px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-2 .u-image-1 {
    height: 636px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin: 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    height: 357px;
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-image-1 {
    height: 226px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1078px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 47px auto 0;
}

.u-section-3 .u-image-1 {
  width: 592px;
  height: 496px;
  margin: 55px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 572px;
  height: 368px;
  margin: -59px auto 0;
}

.u-section-3 .u-group-1 {
  width: 385px;
  min-height: 314px;
  background-image: none;
  height: auto;
  margin: -351px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 21px;
  padding-right: 35px;
  padding-bottom: 23px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-line-1 {
  width: 64px;
  height: 3px;
  transform-origin: left center 0;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  margin: 26px 20px 0;
}

.u-section-3 .u-group-2 {
  width: 301px;
  min-height: 286px;
  height: auto;
  margin: -272px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-4 {
  line-height: 1.6;
  font-size: 1.5rem;
  margin: -40px 20px 30px 0;
}

.u-section-3 .u-group-3 {
  width: 548px;
  min-height: 417px;
  margin: -782px 0 60px auto;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 38px;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  margin: 90px 60px 0 0;
}

.u-section-3 .u-line-2 {
  width: 64px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 26px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  margin: 14px 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-3 .u-image-1 {
    width: 503px;
    height: 378px;
    margin-top: 140px;
  }

  .u-section-3 .u-image-2 {
    width: 398px;
    height: 294px;
    margin-top: -41px;
    margin-left: 215px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -215px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 29px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }

  .u-section-3 .u-group-2 {
    margin-top: -286px;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-3 .u-icon-1 {
    height: 53px;
    width: 53px;
    margin-top: 155px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -32px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .u-section-3 .u-group-3 {
    width: 437px;
    min-height: 446px;
    margin-top: -809px;
    margin-bottom: 424px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 31px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    margin-top: 48px;
    margin-right: 49px;
  }

  .u-section-3 .u-line-2 {
    width: 53px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    width: 310px;
    height: 232px;
    margin-top: 144px;
  }

  .u-section-3 .u-image-2 {
    width: 304px;
    height: 270px;
    margin-top: 59px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: -241px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 22px;
  }

  .u-section-3 .u-group-2 {
    min-height: 110px;
    margin-top: -14px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-3 .u-icon-1 {
    height: 40px;
    width: 40px;
    margin-top: 28px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-right: 13px;
  }

  .u-section-3 .u-group-3 {
    width: 410px;
    min-height: 363px;
    margin-top: -833px;
    margin-bottom: 530px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 24px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
    margin-right: 39px;
  }

  .u-section-3 .u-line-2 {
    width: 41px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    font-size: 0.875rem;
    margin-right: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1287px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 303px;
    height: 229px;
    margin-top: 380px;
  }

  .u-section-3 .u-image-2 {
    width: 223px;
    height: 255px;
    margin-top: -177px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    width: 489px;
    min-height: 205px;
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 17px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 129px;
    margin-top: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-3 .u-icon-1 {
    height: 38px;
    width: 38px;
    margin-top: 35px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 9px;
    margin-bottom: 24px;
  }

  .u-section-3 .u-group-3 {
    min-height: 260px;
    margin-top: -1081px;
    margin-bottom: 881px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 18px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 35px;
    margin-right: 18px;
  }

  .u-section-3 .u-line-2 {
    width: 38px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 19px;
    margin-left: -1px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 179px;
    width: 239px;
    margin-top: 404px;
  }

  .u-section-3 .u-image-2 {
    width: 170px;
    height: 170px;
    margin-top: -38px;
    margin-right: auto;
    margin-left: 170px;
  }

  .u-section-3 .u-group-1 {
    min-height: 240px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 112px;
    width: 328px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-3 .u-icon-1 {
    height: 32px;
    width: 32px;
    margin-top: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -11px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .u-section-3 .u-group-3 {
    min-height: 284px;
    margin-top: -1127px;
    margin-bottom: 903px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 11px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 12px;
  }

  .u-section-3 .u-line-2 {
    width: 32px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.75rem;
    margin-right: 12px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 998px;
}

.u-section-4 .u-text-1 {
  width: 399px;
  font-size: 3rem;
  margin: 55px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 452px;
  height: 419px;
  margin: 103px 42px 0 auto;
}

.u-section-4 .u-group-1 {
  min-height: 570px;
  width: 454px;
  height: auto;
  margin: -446px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: 35px 60px 0 0;
}

.u-section-4 .u-line-1 {
  width: 64px;
  height: 3px;
  transform-origin: left center 0;
  margin: 23px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 23px 23px 0 0;
}

.u-section-4 .u-image-1 {
  width: 467px;
  height: 309px;
  margin: -283px 247px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 387px;
  height: 477px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: -617px 0 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 208px 22px 60px 68px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-shape-1 {
    width: 381px;
    height: 353px;
    margin-top: 171px;
    margin-right: 37px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -453px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-text-3 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    width: 387px;
    height: 256px;
    margin-top: -170px;
    margin-right: 137px;
  }

  .u-section-4 .u-image-2 {
    width: 348px;
    height: 429px;
    margin-top: -667px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 298px;
    margin-right: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 433px;
    margin-right: 35px;
  }

  .u-section-4 .u-group-1 {
    min-height: 343px;
    margin-top: -726px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0 16px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-1 {
    margin-top: 161px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-4 .u-image-2 {
    width: 318px;
    height: 318px;
    margin-top: -357px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 99px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 505px;
    margin-right: -711px;
  }

  .u-section-4 .u-group-1 {
    min-height: 395px;
    margin-top: -799px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 27px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 14px;
  }

  .u-section-4 .u-image-1 {
    width: 355px;
    height: 235px;
    margin-top: 236px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 297px;
    height: 297px;
    margin-top: -457px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 220px;
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 506px;
  }

  .u-section-4 .u-group-1 {
    min-height: 379px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.75rem;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 147px;
    width: 241px;
    margin-top: 60px;
  }

  .u-section-4 .u-image-2 {
    width: 183px;
    height: 183px;
    margin-top: -30px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 60px;
    margin-left: 16px;
    margin-right: 16px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1411px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 48px auto 0;
}

.u-section-5 .u-image-1 {
  width: 511px;
  height: 595px;
  margin: 78px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 411px;
  height: 344px;
  margin: -22px auto 0 249px;
}

.u-section-5 .u-group-1 {
  width: 420px;
  min-height: 334px;
  background-image: none;
  height: auto;
  margin: -248px 60px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 21px;
  padding-right: 35px;
  padding-bottom: 23px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 22px 20px 0;
}

.u-section-5 .u-line-1 {
  width: 64px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 18px auto 0 20px;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  margin: 26px 20px 0;
}

.u-section-5 .u-group-2 {
  width: 548px;
  min-height: 563px;
  height: auto;
  margin: -1003px 71px 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 38px;
  padding-bottom: 29px;
  padding-top: 0;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  margin: 25px 60px 0 0;
}

.u-section-5 .u-line-2 {
  width: 64px;
  transform-origin: left center 0px;
  margin: 26px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  margin: 16px 25px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: 546px 45px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-5 .u-image-1 {
    width: 392px;
    height: 475px;
    margin-top: 60px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 60px;
    margin-right: 22px;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: -344px;
    margin-right: auto;
    margin-left: 61px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 29px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-group-2 {
    min-height: 475px;
    margin-top: -869px;
    margin-right: 0;
    height: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 31px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-top: 48px;
    margin-right: 49px;
  }

  .u-section-5 .u-line-2 {
    width: 53px;
    height: 3px;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.875rem;
    width: auto;
    margin-right: 26px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 464px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-1 {
    width: 291px;
    height: 339px;
    margin-top: 118px;
  }

  .u-section-5 .u-image-2 {
    width: 360px;
    height: 300px;
    margin-top: 118px;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    width: 360px;
    min-height: 312px;
    margin-top: -300px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 22px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-group-2 {
    width: 453px;
    min-height: 455px;
    margin-top: -827px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 24px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 3px;
    margin-right: 39px;
  }

  .u-section-5 .u-line-2 {
    width: 41px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 3px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1426px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    width: 246px;
    height: 286px;
    margin-top: 569px;
  }

  .u-section-5 .u-image-2 {
    width: 294px;
    height: 248px;
    margin-top: -217px;
  }

  .u-section-5 .u-group-1 {
    min-height: 235px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 17px;
  }

  .u-section-5 .u-group-2 {
    min-height: 449px;
    margin-top: -1121px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 18px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 35px;
    margin-right: 18px;
  }

  .u-section-5 .u-line-2 {
    width: 38px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-right: 18px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
    margin-top: 732px;
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1627px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 59px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-1 {
    width: 219px;
    height: 255px;
    margin-top: 609px;
  }

  .u-section-5 .u-image-2 {
    width: 225px;
    height: 188px;
    margin-top: -12px;
  }

  .u-section-5 .u-group-1 {
    min-height: 251px;
    margin-top: 105px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-line-1 {
    margin-left: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-group-2 {
    min-height: 491px;
    margin-top: -1337px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 11px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 12px;
  }

  .u-section-5 .u-line-2 {
    width: 32px;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.75rem;
    margin-right: 12px;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.75rem;
    margin-top: 905px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 223px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  width: 740px;
  margin: 60px auto;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 540px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin: 60px auto 60px 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 396px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 305px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  margin: 19px 1px 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  height: 305px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin: 19px 1px 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  height: 305px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-3 {
  margin: 19px 1px 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  height: 305px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  margin: 19px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    height: 237px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    height: 237px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    height: 237px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    height: 237px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-7 .u-image-1 {
    height: 406px;
  }

  .u-section-7 .u-image-2 {
    height: 406px;
  }

  .u-section-7 .u-image-3 {
    height: 406px;
  }

  .u-section-7 .u-image-4 {
    height: 406px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 704px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 704px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 704px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    height: 704px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    height: 433px;
  }

  .u-section-7 .u-image-2 {
    height: 433px;
  }

  .u-section-7 .u-image-3 {
    height: 433px;
  }

  .u-section-7 .u-image-4 {
    height: 433px;
  }
}